python==3.10

# Machine Learning & Fine-Tuning
torch
transformers
unsloth
axolotl

# Dataset Processing
datasets
ragas
deeval
kiln-ai
sentence-transformers

# Quantization & Optimization
bitsandbytes
auto-gptq
llama-cpp-python

# Evaluation & Logging
scikit-learn
wandb
matplotlib
seaborn

# Inference & API Integration
fastapi
gradio

# Data Handling & Utilities
pandas
numpy
tqdm

#for UI
streamlit
faiss-cpu
