# Data Handling & Utilities
pandas
numpy == 1.26.4
tqdm

# Evaluation & Logging
scikit-learn
matplotlib

# Machine Learning & Fine-Tuning
torch
transformers
unsloth

# Dataset Processing
deepeval
ragas
kiln-ai
sentence-transformers


# Inference & API Integration
fastapi
gradio

#for UI
streamlit
faiss-cpu
